<% bookCoverClass = locals.large ? 'book-cover-large' : '' %> 
<% bookGridClass = locals.large ? 'book-grid-large' : '' %> 
<div class="book-grid <%= bookGridClass %>">
    <% books.forEach(book => { %>
        <a class="page-style" href="/books/<%= book.id %> ">
            <img class="book-cover <%= bookCoverClass %>" src="<%= book.coverImagePath %>">
            <h2 class="page-header"><%= book.title %></h2>
        </a>
            <% }) %> 
</div>